/** ROOT **/
:root{
    --darkest: #000;
    --dark-bl: #071739;
    --med-bl: #274684;
    --light-bl: #709fdc;
    --lightest: #b9d5fd;
}

/** HTML **/
body{
    margin: 0;
}

/** HEADER **/
.l-header{
    background-color: var(--dark-bl);
    height: 6em;

    display: flex ;
    align-items: center;
}

.c-header__title{
    font-family: sans-serif;
    margin:0;
    color: white;
}


/** NAVIGATION **/
.l-navigation{
    width: 100%; 
}

.c-navbar{
    list-style: none; 
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    height: 4em;
    
}

.c-navbar__link{
    text-decoration: none;
    color: white; 
    font-family: sans-serif;
    font-size: 1.25em;
}